<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <p>Hi, welcome <%= current_user.email %> </p>
  <p>You are a <span class="fw-bold"><%= current_user.role %></span></p>
  <% if current_user.admin? %>
    Thera are <%= User.count %> users in this system.
  <% end %>
  <p>You have successfully authenticated with your Devise account. You are now ready to interact with this app</p>
  <%= link_to 'articles', articles_path %> <br/>
  <%= link_to 'sign out', destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>You're not sign in, please sign in or sign up if you doesn't have an account!</p>
  <%= link_to 'sign up', new_user_registration_path %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>